#slider{

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding:2%;


}

.slide{

  display: flex!important; 
  justify-content: center;
  align-items: center;

}

#contenedorImagen{ 

  width:50%;
  float: left;
  display:flex;
  justify-content: center;

}

#texto{

  width:50%;
  padding:3% 1% 3% 1%;
  float: right;
  /* display:flex; */
  justify-content: center;
  align-items: center;


}

#texto h3{

  font-size: 3em;

}

#texto p{

  font-size: 2em;


}

#contenedorImagen #sliderImagen{

  width:50%;

}

#clear {
  clear: both;
}

.controls{

  font-size: 2em;

}