#slider{

  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
  padding:2%;


}

.slide{

  display: flex!important; 
  justify-content: center;
  align-items: center;

}

#contenedorImagen{ 

  width:50%;
  float: left;
  display:flex;
  justify-content: center;

}

#texto{

  width:50%;
  padding:3% 1% 3% 1%;
  float: right;
  /* display:flex; */
  justify-content: center;
  align-items: center;


}

#texto h3{

  font-size: 1.3vw;

}

#texto p{

  font-size: 0.8vw;


}

#contenedorImagen #sliderImagen{

  width:50%;

}

#clear {
  clear: both;
}

.controls{

  font-size: 2em;

}

.controls:hover{

  cursor:pointer;
  color:green;

}